@charset "utf-8"; 

@font-face { 
	font-family: "Noto Sans KR"; 
	font-weight: 100; 
	font-style: normal; 
	src: url("../fonts/NotoSans-Thin.eot?") format("eot"),	
	url("../fonts/NotoSans-Thin.woff") format("woff"),
	url("../fonts/NotoSans-Thin.otf") format("opentype");	
} 
 
@font-face { 
	font-family: "Noto Sans KR"; 
	font-weight: 200; 
	font-style: normal; 
	src: url("../fonts/NotoSans-Light.eot?") format("eot"),
	url("../fonts/NotoSans-Light.woff") format("woff"),	
	url("../fonts/NotoSans-Light.otf") format("opentype");
} 
 
@font-face { 
	font-family: "Noto Sans KR"; 
	font-weight: 300; 
	font-style: normal; 
	src: url("../fonts/NotoSans-DemiLight.eot?") format("eot"),	
	url("../fonts/NotoSans-DemiLight.woff") format("woff"),
	url("../fonts/NotoSans-DemiLight.otf") format("opentype");	 
} 
 
@font-face { 
	font-family: "Noto Sans KR"; 
	font-weight: 400; 
	font-style: normal; 
	src: url("../fonts/NotoSans-Regular.eot?") format("eot"),
	url("../fonts/NotoSans-Regular.woff") format("woff"),
	url("../fonts/NotoSans-Regular.otf") format("opentype");	
} 

@font-face { 
	font-family: "Noto Sans KR"; 
	font-weight: 500; 
	font-style: normal; 
	src: url("../fonts/NotoSans-Medium.eot?") format("eot"),
	url("../fonts/NotoSans-Medium.woff") format("woff"),	
	url("../fonts/NotoSans-Medium.otf") format("opentype"); 
} 

@font-face { 
	font-family: "Noto Sans KR"; 
	font-weight: 700; 
	font-style: normal; 
	src: url("../fonts/NotoSans-Black.eot?") format("eot"),
	url("../fonts/NotoSans-Black.woff") format("woff"),	
	url("../fonts/NotoSans-Black.otf") format("opentype");
} 

@font-face { 
	font-family: "Noto Sans KR"; 
	font-weight: 900; 
	font-style: normal; 
	src: url("../fonts/NotoSans-Bold.eot?") format("eot"),
	url("../fonts/NotoSans-Bold.woff") format("woff"),	
	url("../fonts/NotoSans-Bold.otf") format("opentype");
} 

@font-face { 
	font-family: "GmarketSans"; 
	font-weight: 300; 
	font-style: normal; 
	src: url("../fonts/GmarketSansLight.eot"),
	url("../fonts/GmarketSansLight.woff") format("woff");
} 
@font-face { 
	font-family: "GmarketSans"; 
	font-weight: 500; 
	font-style: normal; 
	src: url("../fonts/GmarketSansMedium.eot"),
	url("../fonts/GmarketSansMedium.woff") format("woff");
} 
@font-face { 
	font-family: "GmarketSans"; 
	font-weight: 700; 
	font-style: normal; 
	src: url("../fonts/GmarketSansBold.eot"),
	url("../fonts/GmarketSansBold.woff") format("woff");
}

@font-face {
    font-family: "SCoreDream";
    font-weight: 400; 
    font-style: normal; 
    src: url("../fonts/SCoreDream4.woff") format("woff");
}
@font-face {
    font-family: "SCoreDream";
    font-weight: 600; 
    font-style: normal; 
    src: url("../fonts/SCoreDream6.woff") format("woff");
}
@font-face {
    font-family: "GangwonEdu";
    font-weight: 300;
    font-style: normal;
    src: url("../fonts/GangwonEduAllLight.woff") format("woff");
} 
@font-face {
    font-family: "GangwonEdu";
    font-weight: 600;
    font-style: normal;
    src: url("../fonts/GangwonEduAllBold.woff") format("woff");
} 
@font-face {
    font-family: "GangwonEdu";
    font-weight: 900;
    font-style: normal;
    src: url("../fonts/GangwonEduPower.woff") format("woff");
}
@font-face {
    font-family: "OneMobile";
    font-weight: 300;
    font-style: normal;
    src: url("../fonts/OneMobileLight.woff") format("woff");
}
@font-face {
    font-family: "OneMobile";
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/OneMobileRegular.woff") format("woff");
}
@font-face {
    font-family: "OneMobile";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/OneMobileBold.woff") format("woff");
}
@font-face {
    font-family: "BMHANNA11yrsold";
	font-weight: normal;
    font-style: normal;
    src: url("../fonts/BMHANNA11yrsold.woff")format("woff");
}
@font-face {
    font-family: "jalNan";
	font-weight: normal;
    font-style: normal;
    src: url("../fonts/Jalnan.woff")format("woff");
}
@font-face {
    font-family: "EsaManru";
	font-weight: 300;
    font-style: normal;
    src: url("../fonts/EsaManruLight.woff")format("woff");
}
@font-face {
    font-family: "EsaManru";
	font-weight: 500;
    font-style: normal;
    src: url("../fonts/EsaManruMedium.woff")format("woff");
}
@font-face {
    font-family: "EsaManru";
	font-weight: 700;
    font-style: normal;
    src: url("../fonts/EsaManruBold.woff")format("woff");
}
@font-face {
    font-family: "Pretendard";
	font-weight: 400;
    font-style: normal;
    src: url("../fonts/Pretendard-Regular.woff")format("woff");
}
@font-face {
    font-family: "SBAggro";
	font-weight: 300;
    font-style: normal;
    src: url("../fonts/SBAggroLight.woff")format("woff");
}
@font-face {
    font-family: "SBAggro";
	font-weight: 500;
    font-style: normal;
    src: url("../fonts/SBAggroMedium.woff")format("woff");
}
@font-face {
    font-family: "SBAggro";
	font-weight: 700;
    font-style: normal;
    src: url("../fonts/SBAggroBold.woff")format("woff");
}